/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-cover: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --title-shadow: 4px 4px #ff0070;
  --base-color: #f1b2ce;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --link-effect: 2px 2px #ff0070;
  --text-select: #ff0070;
  --page-bgColor: #000028;
  --button-hover: 1px solid rgba(255, 0, 112, 0.4);
  --lamp-display: flex;
}
