.page {
  background-image: var(--page-cover);
  background-color: var(--page-bgColor);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family-base);
}
.page * {
  font-size: var(--text-font-size);
}
.header {
  padding: var(--padding);
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}
.decorated-zone::before {
  content: "";
  display: block;
  width: 25px;
  aspect-ratio: 1;
  position: absolute;
  box-shadow: 1px -1px var(--accent-color);
  top: 10px;
  right: 10px;
}
.decorated-zone::after {
  content: "";
  display: block;
  width: 25px;
  aspect-ratio: 1;
  position: absolute;
  box-shadow: -1px 1px var(--accent-color);
  bottom: 10px;
  left: 10px;
}
.lamp {
  color: var(--accent-color);
  line-height: 1.45;
  display: var(--lamp-display);
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.lamp::after {
  content: "";
  width: 9px;
  aspect-ratio: 1;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}
.header__theme-menu {
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  line-height: 1;
   padding: 2px 11px;
}
.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}
.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: var(--button-hover);
  cursor: pointer;
}
.header__theme-menu-button:not(.header__theme-menu-button_active):focus {
  outline: none;
}
.header__theme-menu-button:not(
    .header__theme-menu-button_active
  ):focus-visible {
  box-shadow: 0px 1px currentColor;
}
.header__title {
  font-size: var(--title-size);
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: var(--title-shadow);
  font-weight: var(--font-bold);
  text-transform: lowercase;
  grid-column: 1/3;
  align-self: center;
}
.header__subtitle {
  grid-column: 1/4;
  align-self: center;
}
.heading {
  color: var(--subtitle-color);
  background-color: var(--text-select);
  line-height: var(--line-height);
  font-weight: var(--font-bold);
}
.main {
  margin-block-start: var(--content-margin);
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--main-padding);
  gap: var(--main-gap);
}
.info {
  display: grid;
  gap: var(--info-gap);
}
.info__list {
  display: grid;
  gap: var(--info-gap);
}
.info__card {
  display: grid;
  gap: var(--card-gap);
}
.info__card-subtitle {
  line-height: 23.4px;
}
.info__title {
  color: var(--accent-color);
  font-weight: var(--font-bold);
  line-height: 23.4px;
}
.info__card-description {
  color: var(--base-color);
  line-height: 23.4px;
}
.content__link {
  text-shadow: var(--link-effect);
}
.content__link:hover {
  border-bottom: 1px solid currentColor;
}
.content__link:focus {
  outline: none;
}
.content__link:focus-visible {
  outline: 1px solid currentColor;
}
.font-regular {
  font-weight: var(--font-normal);
}
.gallery {
  display: grid;
  gap: var(--padding);
}
.gallery__container {
  display: grid;
  gap: var(--padding);
}
.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  margin-block-start: var(--content-margin);
}
.footer__title {
  font-weight: var(--font-bold);
  color: var(--title-color);
  font-size: var(--title-size);
  line-height: 0.83;
  text-shadow:var(--footer-shadow);
}
@media (min-width: 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    min-height: 1024px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .lamp {
    top: 20px;
    right: 30px;
  }
  .header__theme-menu {
    grid-column: 2/3;
  }

  .header__title {
    grid-column: 1/3;
    margin-inline-start: -20px;
  }
  .header__subtitle {
    grid-column: 2/3;
  } 
  .info {
    grid-template-columns: 32% 1fr;
  }
  .info__advices{
    grid-template-rows: 25px 1fr;
  }
  .info__title-advices{
    grid-column: 2/3;
    align-self: start;
  }
  .info__list-advices{
    grid-column: 2/3;
  }
  .info__list-causes {
    grid-column: 1/3;
  }

  .footer {
    min-height: 1024px;
  }
  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__image:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .gallery__image:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .gallery__image:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .gallery__image:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .gallery__image:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
@media (min-width: 1024px) {
  .header {
    min-height: 768px;
    grid-template-columns: repeat(2, 1fr);
  }
  .header__theme-menu {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center ;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }
  .header__title {
    grid-column: 1/3;
  }
  .header__subtitle {
    grid-column: 2/3;
  }
  .info__list-causes {
    grid-template-columns: repeat(3, 1fr);
  }
  }
  .footer {
    min-height: 768px;
  }

