:root {
  --page-cover: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --title-shadow: 4px 4px #ff0070;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --base-color: #f1b2ce;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --link-effect: 2px 2px #ff0070;
  --text-select: #ff0070;
  --page-bgColor: #000028;
  --button-hover: 1px solid rgba(255, 0, 112, 0.4);
  --lamp-display: flex;
  --footer-shadow:2px 2px #FF0070;

  --font-family-base: "IBM Plex Mono", monospace;
  --text-font-size: 18px;
  --font-bold: 700;
  --font-normal: 400;
  --line-height: 1.3;
  --padding: 10px;
  --main-padding: 0 10px;
  --main-gap: 50px;
  --content-margin: 40px;
  --info-gap: 20px;
  --card-gap: 10px;
}
@media(min-width:768px){
    :root {
    --padding: 20px;
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-padding: 0 20px;
    --main-gap: 80px;
    --content-margin: 60px;
  }
}